.event {
  height: 410px;
  width: 100%;
  background: #f8fafc;
  position: relative;
  padding: 100px 0;
  img {
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translate(50%, -50%);
  }
  .title {
    font-family: Rubik;
    font-weight: bold;
    font-size: 48px;
    line-height: 141.64%;
    text-transform: uppercase;
    color: #282e73;
  }
  .sub-title {
    font-family: Rubik;
    font-weight: normal;
    font-size: 37px;
    line-height: 141.64%;
    color: #282e73;
    span {
        font-family: Rubik;
        text-transform: uppercase;
        font-weight: bold;
        color: #F57367;
    }
  }
}
